<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.katyusha.aron.cart">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.katyusha.aron.cart.CartActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.katyusha.aron.cart.TipActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>